#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
# Copyright © 2010 Jonas Smedegaard <dr@jones.dk>
# Description: Main Debian packaging script for Bitcoin
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2, or (at
# your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

include /usr/share/cdbs/1/rules/upstream-tarball.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk

DEB_UPSTREAM_URL = http://downloads.sourceforge.net/sourceforge/bitcoin
DEB_UPSTREAM_TARBALL_BASENAME_MANGLE = s/$$/-linux/
DEB_UPSTREAM_TARBALL_SRCDIR = $(DEB_UPSTREAM_PACKAGE)-$(DEB_UPSTREAM_TARBALL_VERSION)

DEB_UPSTREAM_TARBALL_MD5 = 67c0d4a5c7310a94ee1ed8b2effa22cb

# source-less binary
DEB_UPSTREAM_REPACKAGE_EXCLUDES += ./bin/

# unneeded external project sources
DEB_UPSTREAM_REPACKAGE_EXCLUDES += ./src/cryptopp/

# Silence .ico and .mo files in addition to the default debian files
DEB_COPYRIGHT_CHECK_IGNORE_REGEX = ^src/rc/bitcoin.ico|locale/.*/LC_MESSAGES/.*.mo|debian/(changelog|copyright(|_hints|_newhints))$

DEB_BUILDDIR = src

DEB_MAKE_MAKEFILE = makefile.unix

# Avoid GUI until wxWidget 2.9 is in Debian
DEB_MAKE_BUILD_TARGET = bitcoind

# Readd default flags (upstream bogusly use CFLAGS for C++)
CFLAGS += -D__WXGTK__ -DNOPCH -DFOURWAYSSE2 -DUSE_SSL
#CFLAGS += -Wno-invalid-offsetof -Wformat
CFLAGS += -D__WXDEBUG__
#wx-cxxflags := $(shell wx-config --cxxflags)
#CFLAGS += $(wx-cxxflags)

# Code needs explicit version of BerkeleyDB according to upstream build note
dbver = 4.7

# Apparently any recent boost is ok
boostver =

CDBS_BUILD_DEPENDS += , libboost-system$(boostver)-dev, libdb$(dbver)++-dev, libssl-dev, libcrypto++-dev, pkg-config, libglib2.0-dev
# TODO: Drop this when maybe system json is used some day
CDBS_BUILD_DEPENDS += , libboost-filesystem$(boostver)-dev, libboost-program-options$(boostver)-dev

# FIXME: when available, enable this and install into -gui package
#CDBS_BUILD_DEPENDS += , libwxgtk2.9-dev

pre-build::
	mkdir -p src/obj/nogui
clean::
	rm -rf src/obj
